<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="site">
  <header class="site-header">
    <h1><a href="/">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
    <nav class="site-nav">
      <a href="/rowing">노젓기</a>
    </nav>
  </header>

  <main class="site-contents">
    {{ content }}
  </main>

  <footer class="site-footer">

  </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/scripts/dho.js"></script>
{% if page.layout == "rowing" %}
<script src="{{ base.url | prepend: site.url }}/assets/scripts/rowing.js"></script>
{% endif %}
</body>
</html>
